<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>QrCodes</h1>
    <button id="fetch-qr">Fetch Qr Codes</button>
    <div id="qr-list"></div>
    <div id="qr-form">
        <form id="new-qr">
            <label>
                Name:
                <input type="text" name="name" />
            </label>
            <label>
                Description:
                <input type="text" name="description" />
            </label>
            <label>
                QrCode:
                <input type="text" name="qrcode" />
            </label>
            <button type="submit">Save qr</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>